<mtx-grid
  [data]="tenants"
  [columns]="columns"
  [loading]="isLoading"
  [pageOnFront]="false"
  [showPaginator]="true"
  [pageSizeOptions]="[10, 25, 50, 100]"
  [pageIndex]="pageIndex"
  [pageSize]="pageSize"
  [length]="totalElements"
  [rowHover]="true"
  [rowStriped]="false"
  [showToolbar]="false"
  [columnSortable]="true"
  [columnHideable]="false"
  [columnPinnable]="false"
  [columnResizable]="false"
  [rowSelectable]="false"
  [cellSelectable]="false"
  [trackBy]="trackByFn"
  (page)="onPageChange($event)"
  (sortChange)="onSortChange($event)"
  (rowClick)="viewTenant.emit($event)"
  class="tenant-grid"
>
</mtx-grid>